<p>
<div class='show_student_info'>
    <span class='student_name'>
        <%= @student.name %>
    </span>
    <span class='student_period'>
        | Period <%= @student.period %>
    </span>
</div>
</p>
<br />