<% if @student.errors.any? %>
    <div class='alert'>
        <% object.errors.full_messages.each do |msg| %>
            <strong>Oh snap: </strong><%= msg.downcase %><br />
        <% end %>
    </div>
<% end %>