

<%= @students[rand(@students.count)].name %>

<button class='btn btn-primary btn-large'>Random Student</button>






<% @students.sort! { |a,b| a.name <=> b.name} %>
<% @students.each do |s|%>
  <div class='student_list'>
    <%= s.name %>
    <span class='student_edit_link'>
    <%= link_to 'View/Edit', student_path(s) %>
    </span>
    <br />
  </div>
<% end %>
