<header>
  <nav class='round'>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <!--<li><%= link_to 'Students', students_path %></li>-->
      <li><%= link_to 'Add Student', new_student_url %></li>
    </ul>
  </nav>
</header>